@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) and (max-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint== mobile {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == xSmall {
    @media screen and (min-width: 0px) and (max-width: 479px) {
      @content;
    }
  }
}
.shop_create_product_page {
  padding: 0px 5%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  & > .shop_create_product_sidebar {
    width: 330px;
    @include respond(tablet) {
      width: 200px;
    }
    @include respond(mobile) {
      width: 50px;
    }
    @include respond(xSmall) {
      width: 50px;
    }
  }
  & > .shop_create_product {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
}
