nav {
  position: fixed;
  width: 100vw;
  background-color: #007bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10% 10px 10%;
  color: #fff;
  z-index: 999;
  top: 0;
  .links {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    background-color: #007bff;
    color: #fff;
    & > img {
      width: 40px;
      height: 40px;
      background-color: #007bff;
    }
    & > h3 {
      background: transparent;
      font-size: 2rem;
    }
  }
  .navItems {
    flex-basis: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    & > span {
      background: transparent;
      cursor: pointer;
    }
    & > .links {
      display: flex;
      gap: 1rem;
      background-color: #007bff;

      & > a {
        background: transparent;
        & > button {
          background: transparent;
          padding: 5px 10px;
          border: 1.5px solid #fff;
          border-radius: 5px;
          color: #fff;
          cursor: pointer;
        }
      }
    }
    & > .search_cart {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      background-color: #007bff;
      & > span {
        background: transparent;
      }
    }
  }
}
