@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) and (max-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint== mobile {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == xSmall {
    @media screen and (min-width: 300px) and (max-width: 479px) {
      @content;
    }
  }
}

.info_box {
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 11;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
  box-shadow: var(--box-shadow);

  @include respond(mobile){
    position: absolute;
    right: -7rem;
    
  }
  & > span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;

    @include respond(mobile){
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & > img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;

      @include respond(mobile) {
        display: none;
      }
    }
  }
  & > div {
    display: flex;
    padding-top: 10px;
    justify-content: space-between;

    & > a > button {
      padding: 5px 20px;
      cursor: pointer;
      background: #007bff;
      color: #fff;
      border-radius: 5px;
      border: none;
      border: 2px solid rgb(210, 193, 5);

      @include respond(mobile) {
        padding: 5px 10px;
      }
    }
  }
  .close{
    position: absolute;
    right: 20px;
    top: 5px;
    font-weight: bold;
    cursor: pointer;
  }
}
