.dropdown_section {
  .dropdown_items {
    display: flex;
    max-width: fit-content;
    max-height: fit-content;
    width: 350px;
    gap: 1rem;
    font-size: 0.8rem;
    padding: 10px;
    border-width: 100%;
    // background: #007bff;
    &>h3:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
