@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) and (max-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint== mobile {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      @content;
    }
  }
}

.categories_branding {
  .branding_container {
    padding: 20px 5%;
    margin-top: 20px;

    .branding_items {
      width: 100%;
      height: fit-content;
      display: flex;
      background-color: #fff;
      justify-content: space-between;
      align-items: center;
      padding: 20px 10px;
      border-radius: 5px;
      border: 1px solid #eee;

      .branding_item {
        display: flex;
        gap: 10px;
        background: transparent;
        cursor: pointer;

        & > .branding_text {
          background: transparent;

          & > h3 {
            background: inherit;
          }
          & > p {
            background: inherit;
            font-size: 14px;
          }
        }
      }
    }
  }
  .categories_container {
    padding: 10px 5%;

    & > h3 {
      text-align: center;
      font-size: 2rem;
      padding: 10px;
    }

    & > .categories_items {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(5, 1fr);
      padding-top: 1rem;

      @include respond(tablet) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }

      @include respond(mobile){
        display: grid;
        grid-template-columns: repeat(2, 1fr);
      }

      & > .categories_item {
        background: inherit;
        padding: 10px;
        background: #fff;
        border-radius: 5px;
        border: 1px solid #ccc;
        cursor: pointer;
        padding-bottom: 1.2rem;

        & > img {
          width: 100%;
          height: 80%;
          object-fit: cover;
          object-position: 50% 50%;

          &:hover {
            border-radius: 5px;
          }
        }
        & > p {
          text-align: center;
          font-size: 1.2rem;
          padding-top: 1rem;
          background: #fff;
        }

        &:hover {
          box-shadow: var(--box-shadow);
        }
      }
    }
  }
}
