.sponsored_container {
  padding: 20px 5%;
  background: #fff;

  & > .sponsored_items {
    background: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border-radius: 5px;

    & > .sponsored_item {
      background: transparent;
    }
  }
}
