@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (min-width: 768px) and (max-width: 1000px) {
      @content;
    }
  }
  @if $breakpoint== mobile {
    @media screen and (min-width: 480px) and (max-width: 767px) {
      @content;
    }
  }
  @if $breakpoint == xSmall {
    @media screen and (min-width: 300px) and (max-width: 479px) {
      @content;
    }
  }
}
.navbar_items {
  display: flex;
  justify-content: space-between;
  background: #007bff;

  @include respond(mobile) {
    background: #007bff;
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  & > .nav_item {
    background: #007bff;
    & > a {
      text-decoration: none;
      background: transparent;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
  & > .nav_item > .activeNavLink {
    border-bottom: 2px solid #fff;
  }
}
