@font-face {
  font-family: "Vegur-Light";
  src: local("Vegur-Light"), url("./fonts/Vegur-Light.otf") format("otf");
}
@font-face {
  font-family: "Vegur-Bold";
  src: local("Vegur-Bold"), url("./fonts/Vegur-Bold.otf") format("otf");
}
@font-face {
  font-family: "Vegur-Regular";
  src: local("Vegur-Regular"), url("./fonts/Vegur-Regular.otf") format("otf");
}

@-moz-document url-prefix() {
  /* Disable scrollbar Firefox */
  html {
    scrollbar-width: none;
  }
}
body {
  box-sizing: border-box;
  padding-top: 120px;
  margin: 0;
  scrollbar-width: none;
  font-family: "Vegur-Regular", sans-serif;
  -ms-overflow-style: none;
  overflow-y: scroll;
  background-color: rgb(249, 248, 248);
  scroll-behavior: smooth;
}
body::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

::-webkit-scrollbar {
  display: none;
}

:root {
  --box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Vegur-Regular", sans-serif;
  background-color: rgb(249, 248, 248);
  scroll-behavior: smooth;
}
.--btn {
  font-size: 1rem;
  font-weight: 400;
  padding: 6px 8px;
  margin: 0 5px 0 0;
  border: 1px solid transparent;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
}

.--btn:hover {
  transform: translateY(-2px);
}
.--btn-block {
  width: 100%;
}

.--btn-primary {
  color: #fff;
  background: #007bff;
}
.--center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: auto;
  text-align: center;
}

@keyframes anime_tablet {
  from {
    width: 0;
  }
  to {
    width: 40%;
  }
}

@keyframes anime {
  from {
    width: 0;
  }
  to {
    width: 50%;
  }
}
@keyframes anime_small {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes anime-opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Auth animations */
@keyframes slide-up {
  0% {
    transform: translateY(-5rem);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(5rem);
  }
  100% {
    transform: translateY(0);
  }
}
